extends layout

block content
    .main-container
        .main.wrapper.clearfix
            .calc-frame.calc
                #calcScreen.calc-screen
                .calc-buttonsUL
                    .calc-buttonsUL-row
                        span#clear.calc-buttonsUL-row-button.operator.clear Clear
                        span#pow.calc-buttonsUL-row-button.operator ^
                        span#plus.calc-buttonsUL-row-button.operator +
                    .calc-buttonsUL-row
                        span#seven.calc-buttonsUL-row-button 7
                        span#eight.calc-buttonsUL-row-button 8
                        span#nine.calc-buttonsUL-row-button 9
                        span#divide.calc-buttonsUL-row-button.operator ÷
                    .calc-buttonsUL-row
                        span#four.calc-buttonsUL-row-button 4
                        span#five.calc-buttonsUL-row-button 5
                        span#six.calc-buttonsUL-row-button 6
                        span#multiply.calc-buttonsUL-row-button.operator ×
                    .calc-buttonsUL-row
                        span#one.calc-buttonsUL-row-button 1
                        span#two.calc-buttonsUL-row-button 2
                        span#three.calc-buttonsUL-row-button 3
                        span#minus.calc-buttonsUL-row-button.operator −
                    .calc-buttonsUL-row
                        span#decimal.calc-buttonsUL-row-button .
                        span#zero.calc-buttonsUL-row-button 0
                        span#neg.calc-buttonsUL-row-button.operator.neg ±
                        span#equals.calc-buttonsUL-row-button.equals =
            section.keyboard-shortcuts
                h3.keyboard-shortcuts-title Keyboard Shortcuts
                table.keyboard-shortcuts-table
                    tr.keyboard-shortcuts-row
                        td.keyboard-shortcuts-key n
                        td.keyboard-shortcuts-description negative sign
                    tr.keyboard-shortcuts-row
                        td.keyboard-shortcuts-key c
                        td.keyboard-shortcuts-description clear
                    tr.keyboard-shortcuts-row
                        td.keyboard-shortcuts-key *
                        td.keyboard-shortcuts-description multiply
                    tr.keyboard-shortcuts-row
                        td.keyboard-shortcuts-key /
                        td.keyboard-shortcuts-description divide
                    tr.keyboard-shortcuts-row
                        td.keyboard-shortcuts-key -
                        td.keyboard-shortcuts-description minus
                    tr.keyboard-shortcuts-row
                        td.keyboard-shortcuts-key +
                        td.keyboard-shortcuts-description plus
                    tr.keyboard-shortcuts-row
                        td.keyboard-shortcuts-key ^
                        td.keyboard-shortcuts-description power/exponent
                    tr.keyboard-shortcuts-row
                        td.keyboard-shortcuts-key backspace
                        td.keyboard-shortcuts-description backspace
                    tr.keyboard-shortcuts-row
                        td.keyboard-shortcuts-key enter
                        td.keyboard-shortcuts-description calculate
        //- #main
        footer.footer
            p Created by 
                a(href='http://brentoncozby.com') Brenton Cozby
                |.
